In [1]:
ls=list()

In [2]:
ls1=[1,2,"kunal"]

In [3]:
ls2=list(["23",1,2.33])

In [4]:
print( ls , ls1, ls2, sep="\n")

[]
[1, 2, 'kunal']
['23', 1, 2.33]

In [7]:
ls1+ls2
ls.extend(ls1)
print(ls)

[1, 2, 'kunal']

In [8]:
ls4=[i*i for i in range(5)]

In [9]:
print(ls4)

[0, 1, 4, 9, 16]

In [10]:
#list slicing
ls[1:2]

[2]

In [12]:
ls[-2:]

[2, 'kunal']

In [13]:
l=[1,2]
l.append(3)

In [14]:
l

[1, 2, 3]

In [15]:
l.append(["2","4","5"])

In [16]:
l

[1, 2, 3, ['2', '4', '5']]

In [17]:
len(l)

4

In [27]:
l=[1,2,3]
l=l+[4,5,6]# difference in adding by append and by +

In [30]:
print(l,len(l),l[2])

[1, 2, 3, 4, 5, 6] 6 3

In [31]:
l.append(["kunal","bajaj"])

In [32]:
l[len(l)-1]

['kunal', 'bajaj']

In [33]:
del l[len(l)-1]

In [34]:
l

[1, 2, 3, 4, 5, 6]

In [35]:
l.remove(2)

In [36]:
l

[1, 3, 4, 5, 6]

In [39]:
l.pop()# last element from the list

6

In [40]:
l

[1, 3, 4, 5]

In [42]:
list1=[1,2,3]
list1*4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [43]:
 1 in list1

True

In [46]:
list1

[1, 2, 3]

In [47]:
list1.insert(2,20)

In [48]:
list1

[1, 2, 20, 3]

In [50]:
nl=[4,3,6,16,18]
#max element
print(max(nl),min(nl))

18 3

In [52]:
print(nl.index(16))# linear searching

3

In [53]:
print( sorted(l))# return a copy not original list

[1, 3, 4, 5]

In [54]:
l=sorted(l)

In [55]:
l

[1, 3, 4, 5]

In [56]:
# or use sort
nl.sort()

In [57]:
nl

[3, 4, 6, 16, 18]

In [60]:
# for descending
nl.sort( reverse=True)
nl

[18, 16, 6, 4, 3]

In [61]:
inputlist=list(input().split())

10 02 30

In [62]:
inputlist

['10', '02', '30']

In [63]:
integerList=[int(no) for no in input().split()] # if we want integers
integerList

10 20 30 20 11

[10, 20, 30, 20, 11]

In [64]:
k=["apple","mango"]
j=["1","2"]
l=dict(zip(k,j))
l

{'apple': '1', 'mango': '2'}