## this is my first code
markdown is done like this

# heading is written with a single #

### small heading using ### then press shift+enter

In [3]:
pip install jupyterthemes

Note: you may need to restart the kernel to use updated packages.

c:\users\twink\miniconda3\python.exe: No module named pip

In [5]:
# this is a single line comment
"""this is a multiline comment. can also be a multi line string if used with triple quotes """
my_str=""" multiple
lines string possible"""
print( type( my_str),my_str)

<class 'str'>  multiu
lines string poosible

string can be i single double or tripel quotes

In [11]:
my_str2="capital of {} is {} at latitude {} and longitude {}".format("delhi","india","11","22")
print(my_str2)

capital of delhi is india at latitude 11 and longitude 22

In [8]:
my_string=("capital of %s is %s "%("India","Delhi"))
print(my_string)

capital of India is Delhi

In [12]:
#use of end in print'
print( "kunal")
print ("bajaj")

kunal
bajaj

In [13]:
print("kunal",end=" ")
print("bajaj")

kunal bajaj

In [14]:
print("a","b","c")

a b c

In [15]:
print("a","b","c",sep=" , ")

a , b , c

In [16]:
name=input()
print( "hello" + name, type( name),sep="\n")

kunal bajaja
hellokunal bajaja
<class 'str'>

In [19]:
integernumber=int(input())
print(integernumber)

22
22

In [20]:
l="10 20 30 40 50"
print( l.split())

['10', '20', '30', '40', '50']

# to convert to a integer we need to type cast all of them . we will use a list comprehensionn  function

In [23]:
list=[int(no) for no in l.split()]
print(list)

[10, 20, 30, 40, 50]

In [25]:
list=[int(no) for no in input().split()]
print(list)

10 20 30 40 50 60 70
[10, 20, 30, 40, 50, 60, 70]

## in python we use // for division to get integer answer (floor division) and normal / for integer answer

In [28]:

10//3

3

In [27]:
10/3

3.3333333333333335

### for power use **

In [29]:
10**2

100

### and not or are logical operator . capital T and F in True and False

In [30]:
"rainy"=="rainy" and 2==2

True

In [31]:
"rainy"=="rainy" and 2==3

False

In [32]:
"rainy"=="rainy" or 1==2

True

In [34]:
l=int(input())
b=int(input())
area=l*b
print(area)

10
20
200

# if a :
# elif :b
# else :c

In [44]:
no=1
while( no<= 10):
    print(no,end=" ")
    no+=1

1 2 3 4 5 6 7 8 9 10

In [37]:
range(1,10) # range return an iterator in python 3

range(1, 10)

In [43]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [42]:
for i in range(1,10):
    print(i,end=",")

1,2,3,4,5,6,7,8,9,

In [46]:
for i in range(0,10,2):# third parameter for jump
    print(i,end=" ")

0 2 4 6 8

In [53]:
for i in range(10,-1,-2):
    print(i,end=" ")

10 8 6 4 2 0

In [54]:
for i in range(10):
    pass

#keyword arguement

In [55]:
def fun( score,language):
    print(" my marks are %d in %s"%(score,language))

In [56]:
fun(10,"python")

 my marks are 10 in python

In [57]:
fun("ll",99)# we need to remember order of parameters

TypeError: %d format: a number is required, not str

In [60]:
fun(language="python",score=2)

 my marks are 2 in python

# String are not mutable in python

In [63]:
a="kunal bajaj"
print( a[0],a[-1],a[len(a)-1],len(a),sep=" ")

k j j 11

In [64]:
a[2]=u# not possible as strings are immutable

NameError: name 'u' is not defined

In [68]:
for c in a:#for each
    print(c,end=" , ")

k , u , n , a , l ,   , b , a , j , a , j ,

In [69]:
print(5*a)

kunal bajajkunal bajajkunal bajajkunal bajajkunal bajaj

In [70]:
print( a+"mano")

kunal bajajmano

In [71]:
a[1]

'u'

In [72]:
# range slicing
a[1:]

'unal bajaj'

In [73]:
a[0:len(a)]

'kunal bajaj'

In [79]:
a[1:-1]

'unal baja'

In [80]:
a[-1:]

'j'

In [81]:
a[-5:]

'bajaj'

In [86]:
#membership
if "ku" in a:
    print(True)

True

In [88]:
#membership
if "ulll" in a:
    print(True)
else:
    print(False)

False

In [94]:
# string formatting
print( " my fav fruit is %s and is of coor %s and cost is %d and starts with = %c "%("mango", "yellow",23,'m'))

 my fav fruit is mango and is of coor yellow and cost is 23 and starts with = m

In [90]:
print( " my fav fruit is {} and is of color {}".format("mango", "yellow"))

 my fav fruit is mango and is of color yellow

In [99]:
para="""jfnjnfjnfd sddsds
fjnjdfnknkjfd sdsd
fdjfdkjjfndkjnfdjnk"""
print(para)

jfnjnfjnfd sddsds
fjnjdfnknkjfd sdsd
fdjfdkjjfndkjnfdjnk

In [102]:
print(para.split("\n"))
print( para.split())
print( para.splitlines())

['jfnjnfjnfd sddsds', 'fjnjdfnknkjfd sdsd', 'fdjfdkjjfndkjnfdjnk']
['jfnjnfjnfd', 'sddsds', 'fjnjdfnknkjfd', 'sdsd', 'fdjfdkjjfndkjnfdjnk']
['jfnjnfjnfd sddsds', 'fjnjdfnknkjfd sdsd', 'fdjfdkjjfndkjnfdjnk']

In [106]:
fruit="mango"
fruit=fruit.upper()
print(fruit)
fruit=fruit.lower()
print(fruit)

MANGO
mango

In [109]:
#removing leading and trailing spaces
shakes="    apple  shakes   "
print(shakes.rstrip(),shakes.lstrip(),shakes.strip(),sep=",")

    apple  shakes,apple  shakes   ,apple  shakes

In [118]:
i="55"
j="h no 21"
k=" h  no"
print( i.isdigit())# only digits
print(i.isalpha(),j.isalpha(),k.isalpha())# only characters
print( i.isalnum(),k.isalnum() ,k .isupper())# only characters and digits

True
False False False
True False False

In [120]:
b="    "
print( b.isspace(), i.isspace())

True False

In [129]:
stri=" i love Apple and I love Green Apple Juice"
print( stri.rfind("love"))
print( stri.find("love"))
print( stri.find("love",10,30))
#print(a.index("Apple"))  
print( stri.find("app"))# find return -1 if not find but index function throws an exception
stri= stri. replace( "Apple","Guava")
print(stri)

20
3
20
-1
 i love Guava and I love Green Guava Juice

In [130]:
stri.count("Guava")

2

In [131]:
listi=stri.split()
print(listi)

['i', 'love', 'Guava', 'and', 'I', 'love', 'Green', 'Guava', 'Juice']

In [133]:
joinedList="_".join(listi)
print(joinedList)

i_love_Guava_and_I_love_Green_Guava_Juice

In [137]:
name_org="thapar institute of engineering and technology"
print( name_org.capitalize(),name_org.title(),sep="  {}  ")

Thapar institute of engineering and technology  {}  Thapar Institute Of Engineering And Technology